<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Sobre o site -->
            <div class="footer-col">
                <h4>sobre o site</h4>
                <ul>
                    <li><a href="#">sobre nós</a></li>
                    <li><a href="#">nossos serviços</a></li>
                    <li><a href="#">politica de privacidade</a></li>
                    <li><a href="#">fale conosco</a></li>
                </ul>
            </div>
            <!-- Ajuda -->
            <div class="footer-col">
                <h4>Ajuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <!-- Catalogo de Séries -->
            <div class="footer-col">
                <h4>catalogo</h4>
                <ul>
                    <li><a href="#">filmes</a></li>
                    <li><a href="#">séries</a></li>
                    <li><a href="#">animes</a></li>
                    <li><a href="#">novelas</a></li>
                    <li><a href="#">desenhos</a></li>
                </ul>
            </div>
            <!-- Rede Sociais -->
            <div class="footer-col">
                <h4>Redes sociais</h4>
                <div class="social-links">
                    <!-- GITHUB -->
                    <a href="https://github.com/diogobraganascimento" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github"></i>
                    </a>

                    <!-- LINKEDIN -->
                    <a href="https://www.linkedin.com/in/diogo-nascimento-98a277b2/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin"></i>
                    </a>

                    <!-- INSTAGRAM -->
                    <a href="#"><i class="fab fa-instagram"></i></a>

                    <!-- FACEBOOK -->
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>